.login{
  h1 {
    margin: 50px 0;
    text-align: center;
  }
  .ant-layout-content {
    background: #fff
  }
  .login-form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 30px 0;
    border-radius: 3px;
    border: 1px solid #ececec
  }
}
